@import 'bootstrap.css';

header{
  background: #553d7c;
  min-height: 50px;
  padding-top: 14px;
}

#logo{
  color: #fff;
  background: url("../images/testico.png") no-repeat;
  height: 40px;
  width: 140px;
  text-align: right;
  font-weight: bold;
}

#management{
  color: #cdbfd2;
  margin-right: 15px;
  margin-left: 15px;
}

.settings{
  margin: -1px 10px 0;
}

.currency_pick{
  margin: -6px 0 0 5px;
  z-index: 100;
}

.currency_pick .btn-group .dropdown-menu{
  min-width: 70px;
}

.currency_pick .btn-group .dropdown-menu li a:hover{
  background: #408ac8;
  color: #fff;
}

nav{
  display: block;
  margin-top: 30px;
  background: #f7f6fa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 0;
}

.nav li{
  background: #9889b0;
}

.nav a{
  color: #716b7a;
  background: #f7f6fa;
}

.nav a.active{
  border-right: 3px solid #5e4681;
  color: #5e4681;
  font-weight: bold;
}

.infobox{
  background: #f5f5f5;
  padding: 10px 40px 10px 20px;
  -webkit-box-shadow: 0 3px 0px -1px #e1e1e1;
  box-shadow: 0 3px 0px -1px #e1e1e1;
}

.current_credit{
  margin: 20px 0 0 20px;
}

.domains_title{
  color: #fff;
  background: #428cca;
  font-weight: bold;
  padding: 10px 0 10px 45px;
}

.creditboard{
  margin-top: 30px;
  margin-left: 30px;
}

.creditboard h1{
  margin-bottom: 30px;
  padding-left: 15px;
  color: #553d7c;
}

.domainsboard h2{
  margin-bottom: 30px;
  padding-left: 45px;
  color: #553d7c;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px){

  .domainsboard{
    position: absolute;
    top: 150px;
    left: -280px;
    width: 160%;
  }

  .creditboard{
    margin-top: 150px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
